$text: #404040;
$spotlight: #b70f15;

.ProductRecommendation {
    margin-top: 20px;
    .title {
        padding-left: 10px;
        h2 {
            margin: 0;
            position: relative;
            font-size: 1.1rem;
            color: $text;
            font-weight: normal;
        
        }
    }
    &-row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -3px;
        margin-left: -3px;
    }
    &-ref {
        flex: 0 0 20%;
        max-width: 20%;
        max-height: 350px;
        .title {
            h2 {
                padding-left: 15px;
                &:before {
                    content: "";
                    width: 10px;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    background-color: $spotlight;
                }
            }
        }
        .ProductCard-link {
            box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, 0.2);
            border-color: $spotlight;
        }
    }
    &-slider {
        flex: 0 0 80%;
        max-width: 80%;
        max-height: 350px;
        .title {
            padding-left: 25px;
        }
    }
}